header{
    width: 100%;
    height: 25px;
    background-color: rgb(118, 161, 112);;
    margin: auto;
    }
header ul{
    display: flex;
    justify-content: space-between;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: aliceblue;
    font-size: 20px;
}
a{
    text-decoration: none;
}
footer{
    width: 100%;
    display: flex;
    align-self: flex-end;
    justify-content:space-between ;    
    background-color: rgb(118, 161, 112);
    color: aliceblue;

}
footer section{
    display: flex;
    /* margin-top: 1%; */
}
body{
    background-color: #9DC08B;
}
form{
display: block;
background-color:rgb(118, 161, 112);
border: 1px solid rgb(62, 134, 92);
}
form input{
    cursor: pointer;
}
main{
    width: 100%;
    font-family:'Times New Roman', Times, serif;
    color: aliceblue;
    margin: auto;
}
#scr{
    margin-top: 10%;
    background-color: #9DC08B;
}
img{
    width: 20%;
}
h1{
    color: white;
}